@font-face {
    font-family: fancy-nancy;
    src: url(./font/ChokoMilky-gx8gR.otf);
}

html,
body {
    margin: 0;
    padding: 0;
}

.main-container {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(pink,yellow);
}

.checker-box {
    align-self: center;
    position: relative;
    width: 500px;
    height: 500px;
    background-color: red;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
}

#odd {
    background-color: pink;
}

#even {
    background-color: burlywood;
}

#odd:hover,
#even:hover {
    border-width: 4px;
    border-style: solid;
    border-color: #97d192;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    font-size: 40px;
}

.win-screen {
    position: absolute;
    margin : auto;
    padding: 300px;
    text-align: center;
    text-justify: center;
    align-self: center;
    background-image: linear-gradient(pink,yellow);
    border-radius: 80px;
    font-family: fancy-nancy,Arial, Helvetica, sans-serif;
    font-size: 40px;
}
